/* VARIABLES */

:root {
    --color1: #171719;
    --color2: #252525;
    --color3: #2d2d2d;
    --color4: #fbfbfb;
    --color5: #000e01;
    --color6: #8ddea8;

    --darker-dark: #171719;
    --dark: #252525;
    --lighter-dark: #2d2d2d;

    --darker-green: #386641;
    --green: #8eb897;
    --lighter-green: #c3e8bd;

    --warning-red: #e54b4b;
    --warning-yellow: #f4b860;

    --white: #f3e8ee;
}

@font-face {
    font-family: AmedaPixel;
    src: local('AmedaPixel'), url('/assets/fonts/AmedaPixel-Regular.otf') format("opentype");
}

/* GENERAL STYLE */

* {
    margin: 0;
    padding: 0;
}

html {
    background-size: 32px 32px, 32px 32px;
    background-image: linear-gradient(to bottom, transparent 96%, var(--color3) 96%),
                      linear-gradient(to right, var(--color2) 96%, var(--color3) 96%);
    color: var(--color4);
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
}

#empty {
    height: 4vh;
    width: 10px;
    display: block;
    background-color:rgb(85, 85, 87, 0);
}

body > div:not(#warning,#entrance,#empty) {
    display: block;
    margin: 0 auto;
    background-color: var(--darker-dark);
    border-radius: 20px;
    padding: 32px;
}

#entrance {
    margin-top: 5vh;
    display: flex;
    justify-content: center;
}

#entrance p {
    font-family: "AmedaPixel", serif;
    font-size: 200px;
    color: var(--white);
}

#entrance .corner {
    position: absolute;
    height: 64px;
    width: auto;
}

#entrance .corner.bottom {
    top: 19vh;
    left: 29.8vw;
    z-index: 2;
}

#entrance .corner.top {
    top: 4vh;
    right: 28.5vw;
    transform: rotate(180deg);
}

#tag {
    font-family: "AmedaPixel", serif;
    color: rgba(255, 255, 255, 0.8);
    min-width: 5vw;
    max-width: 8vw;
    width: auto;
    padding: 12px 18px 8px 18px;
    text-align: center;
    border-radius: 20px;
    float: left;
}

#update-info {
    margin-top: 8px;
    color:#d6d6d650;
    font-size: 12px;
    float: right;
}

#about {
    display: flex;
    align-items: flex-start;
    width: 70vw;
}

#about div {
    margin-top: 30px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    justify-items: center;
}

#profile-pic {
    flex: 1;
    position: relative;
}

#profile-pic img {
    width: 28vw;
    height: auto;
    border-radius: 20px;
    margin-right: 2vw;
}

footer {
    background-color: var(--darker-dark);
    color: var(--lighter-green);
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px;
}

#warning{
    background-color: var(--warning-red);
    padding: 12px;
    margin: 18px auto 32px auto; /* Center the element horizontally */
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 10px;
    text-align: center;
    max-width: 60vw;
}

#warning a{
    color: rgb(255, 198, 198);
}

#about .about-text{
    flex: 2;
    display: block;
    padding-left: 20px;
    margin-right: 6vw;
    align-items: center;
    justify-content: center;
    margin-top: auto;
    margin-bottom: auto;
}


#about .about-text h1{
    font-size: 64px;
}

#about .about-text p{
    font-size: 18px;
    color: rgba(255, 255, 255, 0.75);
    padding-top: 8px;
    padding-bottom: 18px;
}

#skills {
    max-width: 60vw;
    display: flex;
    justify-content: space-between;
}

#skills div {
    display: flex;
    margin-top: 48px;
    justify-content: center;
    flex-wrap: wrap;
}

#skills div div {
    margin-top: 8px;
    display: block;
    background-color: var(--dark);
    border-radius: 10px;
    padding: 10px;
    flex: auto auto;
    margin-right: 25px;
    width: 19.5vw;
    height: auto;
}

#skills div div:last-child {
    margin-right: 0;
}

#programming h1, #art h1 {
    text-align: center;
    font-size: 48px;
}

#programming > items, #art > items {
    display: block;
    background-color: rgba(255, 255, 255, 0.05);
    margin-top: 8px;
    border-radius: 5px;
    padding: 8px;
}

.icon {
    width: 48px;
    height: auto;
}

a {
    margin-top: 8px;
    display: inline-flex;
    align-items: center;
}

a:first-child {
    margin-top: 0;
}

c {
    display: block;
    align-self: center;
    background-color: rgba(255, 255, 255, 0.2);
    color: #00000000;
    height: 32px;
    width: 3px;
    margin-left: 16px;
    margin-right: 16px;
    border-radius: 2px;
}

a p {
    color: rgba(255, 255, 255, 0.7);
}

experience {
    align-self: center;
    font-size: 24px;
}

lit {
    color: var(--warning-yellow);
}

#skills > p:not(#tag,#update-info) {
    margin-top: 16px;
    text-align: center;
    color: gray;
    font-size: 12px;
}

#projects {
    width: 70vw;
}

#projects > h1 {
    font-size: 24px;
    margin-top: 48px;
}

#projects > p:not(#update-info,#tag) {
    color: rgba(255, 255, 255, 0.70);
    margin-left: 16px;
    font-size: 18px;
}

#projects > #list-projects > div {
    display: inline-flex;
    padding: 8px;
    background-color: var(--dark);
    border-radius: 4px;
    margin-top: 16px;
    height: 10vh;
    align-items: center;
    flex-wrap: nowrap;
    width: 100%;
}

#list-projects > div > img {
    display: flexbox;
    height: 10vh;
    width: auto;
    flex: 0;
}

#list-projects > div > #text {
    display: flexbox;
    flex: 3;
    margin-left: 16px;
    bottom: auto;
    top: auto;
}

#list-projects > div > #text h1 {
    display: block;
    font-size: 20px;
    color: var(--warning-red);
}

#list-projects > div > #text p {
    display: block;
    font-size: 12px;
    color: rgba(255, 255, 255, 0.7);
}

#list-projects > div > #tags {
    flex: 2;
    margin-left: 16px;
    margin-left: 16px;
    text-align: center;
}

#job-t {
    margin-top: 8px;
}

#project-t > div, #job-t > div {
    display: inline-block;
    padding: 3px;
    border-radius: 2px;
    background-color: rgb(163, 61, 61);
}

#list-projects > div > button {
    height: 100%;
    aspect-ratio: 1 / 1;
    background-color: rgba(255, 255, 255, 0.1);
    border: 0;
    border-radius: 5px;
    transition: background-color 0.3s;
}

#list-projects > div > button:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

button > svg > path {
    fill: #8c8c8c;
    transition: fill 0.3s;
}

button:hover > svg > path {
    fill: #bdbdbd !important;
}

nav {
    position: fixed;
    min-height: 20vh;
    width: 3vw;
    background-color: var(--darker-dark);
    justify-content: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px;
    padding-top: 16px;
    padding-bottom: 16px;
    align-self: center;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 10px 0 0 10px;
    flex-wrap: wrap;
}

nav button:not(:last-child) {
    margin-bottom: 8px;
}

nav button {
    background-color: #00000000;
    border: 0;
    cursor: pointer;
}

.delicious-handrawn {
    font-family: "Delicious Handrawn", serif;
    font-weight: 400;
    font-style: normal;
}

.open-sans {
    font-family: "Open Sans", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }
 
.darumadrop-one {
    font-family: "Darumadrop One", serif;
    font-weight: 400;
}